$month-tile-dimension: $tile-width;

.month-view {
  .day-of-week {
    margin-bottom: 15px;
    display: inline-block;
    font-weight: bold;
    width: $tile-width;
    margin-right: 5px;
    padding: 0 2px;
    text-align: center;
    box-sizing: border-box;
  }

  .month--calender {
    display: grid;
    grid-template-columns: repeat(7, $month-tile-dimension);
    grid-gap: 5px;
  }
}
