$month-tile-dimension: $tile-width;
$grid-gap: 5px;

.day-of-week {
  margin-bottom: 15px;
  display: inline-block;
  font-weight: bold;
  width: $tile-width;
  margin-right: $grid-gap;
  text-align: center;
}

.month--calender {
  display: grid;
  grid-template-columns: repeat(7, $month-tile-dimension);
  grid-gap: $grid-gap;
}
