.side-bar {
  grid-area: side-bar;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 30px 10px;
  background: lightblue;
  color: $white;

  .side-bar--categories-list {
    font-size: 14px;
    color: black;

    li {
      display: flex;

      label {
        display: flex;

        .category-name {
          width: 140px;
          overflow-x: hidden;
          white-space: nowrap;
          margin-right: 5px;
        }

        .category-amount {
          width: 70px;
          text-align: right;
        }
      }
    }
  }
}
