$tile-width: 140px;
$trans-square: 10px;
$light-gray: #bdbdbd;
$white: #f9f9f9;

// Colors for tiles of months
$january: cadetblue;
$february: rgb(127, 163, 211);
$march: rgb(0, 177, 0);
$april: magenta;
$may: blue;
$june: darkorchid;
$july: burlywood;
$august: rgb(163, 113, 121);
$september: orchid;
$october: rgb(0, 206, 206);
$november: rgb(184, 196, 20);
$december: coral;

@mixin loop-colors($color) {
  .day-of-week {
    color: $color;
  }

  &.tile {
    background: $color;
  }

  .tile.percent-0 {
    background: lighten($color, 10%);
  }

  @for $i from 1 through 10 {
    .tile.percent-#{$i} {
      $background: darken($color, $i * 3);
      background: $background;
      &:hover {
        background: $color;
      }
    }
  }
}

%tile-default {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $tile-width;
  height: $tile-width;
  padding: 2px 5px;
  background: transparent;
  color: $white;
  border-radius: 3px;
  font-size: 14px;
  box-sizing: border-box;
  transition: 0.15s linear all;

  .tile-amount {
    align-self: center;
    font-size: 20px;
  }

  .tile-date {
    align-self: flex-end;
    font-weight: 600;
    font-size: 22px;
  }
}
