$tile-width: 140px;
$trans-square: 10px;
$light-gray: #bdbdbd;
$white: #f9f9f9;

// Colors for tiles of months
$january: cadetblue;
$february: lightblue;
$march: lime;
$april: magenta;
$may: blue;
$june: darkorchid;
$july: burlywood;
$august: pink;
$september: orchid;
$october: cyan;
$november: gold;
$december: coral;

@mixin vertical-center() {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
}

@mixin loop-colors($color) {
  color: $color;

  .month--header {
    color: inherit;
  }

  .tile.percent-0 {
    background: lighten($color, 10%);
  }

  @for $i from 1 through 10 {
    .tile.percent-#{$i} {
      $background: darken($color, $i * 3);
      background: $background;
      &:hover {
        background: $color;
      }
    }
  }
}
