@import "reset";
@import "variables";
@import "month-colors";
@import "tile";
@import "breadcrumbs";

.container {
  position: relative;
  display: grid;

  grid-template-columns: 250px auto;
  grid-template-areas: "side-bar spending-view";
}

.side-bar {
  grid-area: side-bar;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10px;
  background: lightblue;
  color: $white;
}

.spending-view {
  grid-area: spending-view;
  box-sizing: border-box;
  padding: 10px;
  background: lightgray;
}

.year-tiles {
  display: grid;
  grid-template-rows: auto;

  h2 {
    margin-top: 4px;
    margin-bottom: 0;
  }
}

@import "day-tile";
@import "month-view";
@import "year-view";
