@import "reset";
@import "variables";

.container {
  position: relative;
  width: 1020px;
  margin: 0 auto;
  padding-top: 15px;
}

.january {
  @include loop-colors($january);
}

.february {
  @include loop-colors($february);
}

.march {
  @include loop-colors($march);
}

.april {
  @include loop-colors($april);
}

.may {
  @include loop-colors($may);
}

.june {
  @include loop-colors($june);
}

.july {
  @include loop-colors($july);
}

.august {
  @include loop-colors($august);
}

.september {
  @include loop-colors($september);
}

.october {
  @include loop-colors($october);
}

.november {
  @include loop-colors($november);
}

.december {
  @include loop-colors($december);
}

.tile {
  position: relative;
  display: inline-block;
  background: $light-gray;
  color: $white;
  margin: 0 5px 5px 0;
  padding: 2px 5px;
  width: $tile-width;
  height: $tile-width;
  font-size: 14px;
  border-radius: 3px;
  box-sizing: border-box;
  list-style: none;
  vertical-align: middle;
  transition: 0.15s linear all;

  &.none {
    background: #ffffff;
  }
}

.total-view {
  .year-tiles {
    display: flex;
    flex-wrap: wrap;
  }
}

@import "week-view";
@import "month-view";
@import "year-view";
